.error {
  color: red;
}
.title {
  color: rgba(27, 112, 18, 0.747);
  text-align: center;
  border-style: dotted;
  border-color: darkorange;

}

.stocks{
  color: rgba(27, 112, 18, 0.747);
  text-decoration-line: underline;
  text-decoration-color: green;
}
.invest{
  text-align: center;
  color: rgba(27, 112, 18, 0.747);
  font-size: 45px;
  border-style: inset;
  
}

.questions{
  text-align: center;
  text-decoration-line: underline;
  color: rgb(101, 5, 255);
}

.quote{
  text-align: center;
  font-size: 35px;
  color: rgb(7, 99, 15);
}

.brand {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}
.form {
  display: center;
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 35px;
} 

