ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: unset;
}

li {
  font-size: 1.25rem;
}

.pretty-background {
  background:
    linear-gradient(rgb(6, 105, 19), transparent),
    linear-gradient(to top left, rgb(20, 37, 20), transparent),
    linear-gradient(to top right, rgba(221, 77, 10, 0.781), transparent);
  background-blend-mode: screen;
  margin-bottom: 0rem;
  padding: 1rem 1.5rem;
}

.profile-username {
  color: #000000 !important;
}
.pretty-background button {
  display: table-column;
  background: chocolate;
  border: 3px solid rgb(8, 8, 8);
  color: gold;
  padding: 0.4rem 3rem;
}


.brand {
  cursor: pointer;
  font-size: 3.5rem;
}

.dropbtn {
  color:gold;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
 position: fixed;
 display: inline-block;

}
.dropbtn{
  color:gold;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
 position: fixed;
 display: inline-block;
}